<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Burger Eater</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <img class="img-fluid burger-stack-img" src="/assets/img/burger_maker.jpg">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="burger-form">
        <h2>Make a Burger!</h2>
        <form class="create-burger">
          <div class="form-group">
            <label for="burger-name">Burger Name:</label>
            <div class="d-inline-flex p-2">
              <input class="col" type="text" id="burger-name" name="name">
            </div>
          </div>
          <button type="submit" class="btn btn-outline-dark">Add Your Burger</button>
        </form>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-around flex-shrink-1">
    <div class="col-4">
      <h2>Created Burgers:</h2>
      <ul id="not-devoured">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burger-button devoured=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-4">
      <h2>Burgers Eaten:</h2>
      <ul id="devoured">
        {{#each burgers}}
        {{#if devoured}}
        {{> burger-button devoured=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>