h1 {
    text-align: center;
}
.burger-stack-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-align: center;
}
.create-burger {
    text-align: center;
}
ul {
    display:table;
    margin:0 auto;
}